@page "/"

<PageTitle>Taft Cat People</PageTitle>

<h1>Taft Cat People</h1>

<p>Welcome to Taft Cat People, created by Sam Hobbs.</p>

<p>This is a temporary location for us. This site is very new. At the moment this
site does not provide a way for you to contact me. I apologize if you do not
know how to contact me but want to.</p>

<p>This site is for people that want to help cats in Taft, espcially the wild
(feral) cats. We want to help them as much as possible. We can help ensure
there is enough food. We can attempt to get all of them spayed and neutered.</p>

<h2>Scope</h2>
<p>I am not sure what to have in this site except we can start by inventoring the
problem. This is not for the purpose of getting the people into trouble or
anything like that. This is primarily to determine where cats are that need
help, how serious the problem is, and the people that are currently doing the
best they can to care for the animals.</p>

<p>There is a problem with cats in the area of E Street near South 10th Street.
    That location will likely be where we will first attempt to help.</p>

<p>I know there is a problem of an over-abundance of cats in the area of the
    South end of Lierly Avenue. I have not spoken with the resident there but
    I should.</p>

<p>There are many cats on E Street near 5th Avenue. Apparently many are not
    spayed or neutered. We need to get that done. I really want to get the
    cooperation of the woman feeding them. More than two years ago I told her
    I wanted to help her and she ignores me.</p>

<p>I have heard that there is a location in Valley Acres or Dustin Acres with
many cats.</p>

<p>If anyone knows of another location then let me know.</p>

<h2>Meetings</h2>
<p>Hopefully we can all get together for a meeting. If anyone has a suitable
location or has suggestions or preferences for a location then let me know.</p>
