@page "/"

<PageTitle>Taft Cat People</PageTitle>

<h1>Taft Cat People</h1>

Welcome to Taft Cat People, created by Sam Hobbs.

This is a temporary location for us. This site is very new. At the moment this
site does not provide a way for you to contact me. I apologize if you do not
know how to contact me but want to.

This site is for people that want to help cats in Taft, espcially the wild
(feral) cats. We want to help them as much as possible. We can help ensure
there is enough food. We can attempt to get all of them spayed and neutered.

<h2>Scope</h2>
I am not sure what to have in this site except we can start by inventoring the
problem. This is not for the purpose of getting the people into trouble or
anything like that. This is primarily to determine where cats are that need
help, how serious the problem is, and the people that are currently doing the
best they can to care for the animals.

I know there is a problem of an over-abundance of cats at 525 Lierly Avenue. I
have not spoken with the resident there but I should.

There is a problem with cats at 207 E Street.

The woman at 502 E Street has many cats. Apparently many are not spayed or
neutered. We need to get her to do that. I really want to get her cooperation.
I volunteered to help and she ignores me. She can probably afford to get them
spayed and neutered but I do not know that.

I have heard that there is a location in Valley Acres or Dustin Acres with
many cats.

If anyone knows of another location then let me know.

<h2>Meetings</h2>
Hopefully we can all get together for a meeting. If anyone has a suitable
location or has suggestions or preferences for a location then let me know.
